
body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

a{
    text-decoration: none;
    color:lightskyblue ;
    font-size: 30px;
    opacity: 0.8;
    cursor: pointer;
    padding: 10px;
}

a:hover{
    transition: all 0.3s;
    transform: scale(1.25);
}




